# Enable Rewrite Engine
RewriteEngine On

# Set the base path to /estore
RewriteBase /estore/

# Rewrite requests like /api/profile to /backend/api/profile.php or /backend/api/profile.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/estore/backend/api/$1.php -f [OR]
RewriteCond %{DOCUMENT_ROOT}/estore/backend/api/$1.html -f
RewriteRule ^api/([a-zA-Z0-9_-]+)$ /estore/backend/api/$1.php [L,QSA]


# Environment Variables
SetEnv DATABASE_HOST <yourdbhostname> 
SetEnv DATABASE_USER <yourdbusername>
SetEnv DATABASE_PASS <yourdbpassword>
SetEnv DATABASE_NAME <yourdbnamehere> 